<div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <%= render Ui::PageHeaderComponent.new(
    title: "New contact",
    description: current_entity.name,
    back_path: entity_contacts_path(current_entity),
    back_text: "Contacts"
  ) %>

  <%= render Ui::CardComponent.new do %>
    <%= render "form", contact: @contact %>
  <% end %>
</div>
