<div class="bg-white rounded-lg shadow-md border border-gray-200 overflow-hidden">
  <% if header? %>
    <div class="border-b border-gray-200 px-6 py-4">
      <%= header %>
    </div>
  <% end %>

  <div class="p-6">
    <%= content %>
  </div>

  <% if footer? %>
    <div class="border-t border-gray-200 px-6 py-4">
      <%= footer %>
    </div>
  <% end %>
</div>
