<% if items.any? %>
  <dl class="divide-y divide-gray-100">
    <% items.each do |item| %>
      <div class="py-3 grid grid-cols-3 gap-4">
        <dt class="text-sm font-medium text-gray-500 flex items-center gap-2">
          <%= item.term %>
          <% if item.badge %>
            <%= render(Ui::BadgeComponent.new(color: item.badge[:color])) { item.badge[:text] } %>
          <% end %>
        </dt>
        <dd class="text-sm text-gray-900 col-span-2"><%= item %></dd>
      </div>
    <% end %>
  </dl>
<% end %>
